<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/styles/login-style.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form action="/user" method="get">
    <h1>Login</h1>
    <div class="form-row">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div class="form-row">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <div class="button-row">
        <button type="submit">SUBMIT</button>
    </div>
</form>

<span id="error-message" class="error-message" style="display: none;"></span>

</body>
</html>